#app {
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculadora {
    border: 1px solid black;
    border-radius: 5px;
    width: 350px;
    height: 500px;
}

#visor {
    width: 300px;
    height: 50px;
    padding: 5px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background: linear-gradient(rgb(0, 0, 0), rgb(21, 22, 21), rgb(29, 29, 34));
    color: white;
    font-size: 1.5em;
}

#botoes {
    width: 200px;
    height: 350px;
    padding: 10px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
}

input[type=button] {
    width: 50px;
    height: 30px;
    padding: 10px;
    margin: 3px;
    background-color: red;
    color: white;
    border: 2px solid black;
    border-radius: 3px;
    font-size: 1.2em;
}

input[type=button]:hover {
    width: 50px;
    height: 30px;
    padding: 10px;
    margin: 3px;
    background-color: black;
    color: red;
    border: 2px solid red;
    border-radius: 3px;
    font-size: 1.2em;
}