#app {
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculadora {
    border: 5px solid black;
    border-radius: 10px;
    width: 350px;
    height: 500px;
    background: lightgray;
    box-shadow: 5px 5px 5px 7px gray;
}

#visor {
    width: 300px;
    height: 50px;
    padding: 5px;
    margin: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    background: linear-gradient(gray,lightgray,white);
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}

#botoes {
    width: 300px;
    height: 325px;
    padding: 5px;
    margin: 20px;
}

input[type=button] {
    width: 50px;
    height: 40px;
    background-color: red;
    color: white;
    border: 2px solid black;
    border-radius: 3px;
    font-size: 1.2em;
    padding: 10px;
    margin: 12px;
}

input[type=button]:hover {
    width: 50px;
    height: 40px;
    padding: 10px;
    margin: 12px;
    background-color: black;
    color: red;
    border: 2px solid red;
    border-radius: 3px;
    font-size: 1.2em;
}

#rodape {
    font-size: 1.2rem;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}